name: vapoursynth

on: [push, pull_request]

jobs:
  clippy-rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - name: Run rustfmt
        run: cargo fmt --all -- --check
      - name: Run clippy on all tests
        run: cargo clippy --all --all-targets --all-features --exclude sample-plugin -- -D warnings
      - name: Run clippy on the sample-plugin
        run: cargo clippy --all-targets --package sample-plugin -- -D warnings

  unix-tests:
    strategy:
      fail-fast: false

      matrix:
        toolchain:
          # I can't figure out how to install an older version of VapourSynth on macOS,
          # so don't test macOS until we can test on the latest version again.
          #  - stable-x86_64-apple-darwin
          - stable-x86_64-unknown-linux-gnu
        include:
          #  - toolchain: stable-x86_64-apple-darwin
          #    os: macOS-latest
          - toolchain: stable-x86_64-unknown-linux-gnu
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Install VapourSynth on MacOS
        if: matrix.os == 'macOS-latest'
        run: |
          brew install vapoursynth
      - name: Install VapourSynth on Ubuntu 64-bit
        if: matrix.toolchain == 'stable-x86_64-unknown-linux-gnu'
        run: |
          build/script.sh
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: |
          cd vapoursynth
          python3 ../build/run-tests.py
      - name: Run sample-plugin tests
        run: |
          cd sample-plugin
          cargo build --verbose
          cargo run --verbose --bin test
      - name: Run doc
        run: cargo doc --all-features --verbose
      - name: Copy index into the target directory
        if: matrix.toolchain == 'stable-x86_64-unknown-linux-gnu'
        run: |
          cp build/index.html target/doc
      - name: Deploy documentation
        if: >
          matrix.toolchain == 'stable-x86_64-unknown-linux-gnu' &&
          github.event_name == 'push' &&
          github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc

  windows-tests:
    strategy:
      fail-fast: false

      matrix:
        toolchain:
          - stable-x86_64-pc-windows-msvc
          - stable-x86_64-pc-windows-gnu
        include:
          - toolchain: stable-x86_64-pc-windows-msvc
            arch: x86_64
          - toolchain: stable-x86_64-pc-windows-gnu
            arch: x86_64

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install VapourSynth for Windows 64-bit
        if: matrix.arch == 'x86_64'
        run: |
          build/windows-script.ps1
      - run: rustup set auto-self-update disable
      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: |
          $Env:Path += ";C:\Program Files\VapourSynth;"
          cd vapoursynth
          python ../build/run-tests.py
      - name: Build sample-plugin
        run: |
          $Env:Path += ";C:\Program Files\VapourSynth;"
          cd sample-plugin
          cargo build --verbose
      - name: Run sample-plugin tests
        # https://github.com/rust-lang/rust/issues/50176
        run: |
          $Env:Path += ";C:\Program Files\VapourSynth;"
          cd sample-plugin
          cargo run --verbose --bin test
      - name: Run doc
        run: cargo doc --all-features --verbose
